{% load static %}


 <!-- footer -->
 <footer id="footer">
    <div class="container">
        <div class="row mb-3">
            <div class="col-3">
                <hr>
                <h2 class="footer-title secondary-title">About Us</h2>

                <div class="secondary-title text-secondary">
                     <p class="mt-2 ">
                         Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                         Deserunt quis voluptate alias illum modi tenetur, iste voluptatem illo. Accusantium, corrupti!
                     </p>
                     
                     <address>
                         <i class="fas fa-map-marker-alt text-primary"></i> 
                         Bali, Indonesia
                     </address>

                     <div class="phone">
                         <i class="fas fa-mobile text-primary"></i> 
                         085 792 132 517
                     </div>

                     <div class="email">
                         <i class="fas fa-envelope text-primary"></i> 
                         arijaya130@gmail.com
                     </div>

                     <div class="Profile Linked">
                        <i class="fa fa-id-badge text-primary"></i> 
                        Ari Jaya
                    </div>

                </div>
            </div>
            <div class="col-3">
                <hr>
                <h2 class="footer-title secondary-title">Feature Post</h2>

                <div class="feature-post">
                    <div class="flex-item">
                        <article class="article">
                            <div class="d-flex">
                                <a href="#">
                                    <img src={% static 'images/img9.jpg' %} class="object-fit px-1" alt="">
                                    <div class="px-1">
                                        <a href="#" class="text-title display-2 text-dark">
                                         Looking for some feedback for this rejected track
                                         technology
                                        </a>
                                        <p class="secondary-title text-secondary display-3">
                                             <span><i class="far fa-clock text-primary"></i> Clock Wed 02, 2021 </span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="flex-item">
                     <article class="article">
                         <div class="d-flex">
                             <a href="#">
                                 <img src={% static 'images/img1.jpg' %} class="object-fit px-1" alt="">
                                 <div class="px-1">
                                     <a href="#" class="text-title display-2 text-dark">
                                      Looking for some feedback for this rejected track
                                      technology
                                     </a>
                                     <p class="secondary-title text-secondary display-3">
                                          <span><i class="far fa-clock text-primary"></i> Clock Wed 02, 2021 </span>
                                     </p>
                                 </div>
                             </a>
                         </div>
                     </article>
                      </div>
                      <div class="flex-item">
                         <article class="article">
                             <div class="d-flex">
                                 <a href="#">
                                     <img src={% static 'images/img2.jpg' %} class="object-fit px-1" alt="">
                                     <div class="px-1">
                                         <a href="#" class="text-title display-2 text-dark">
                                          Looking for some feedback for this rejected track
                                          technology
                                         </a>
                                         <p class="secondary-title text-secondary display-3">
                                              <span><i class="far fa-clock text-primary"></i> Clock Wed 02, 2021 </span>
                                         </p>
                                     </div>
                                 </a>
                             </div>
                         </article>
                     </div>
                </div>
            </div>
            <div class="col-3">
                <hr>
                 <h2 class="footer-title secondary-title">SKILLS</h2>

                 <div class="tags">
                     <div class="d-flex flex-wrap">
                         <p class="secondary-title btn bg-light">Python</p>
                         <p class="secondary-title btn bg-light">React.js</p>
                         <p class="secondary-title btn bg-light">Javacript</p>
                         <p class="secondary-title btn bg-light">SQL</p>
                         <p class="secondary-title btn bg-light">HTML</p>
                         <p class="secondary-title btn bg-light">CSS</p>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</footer>
<!-- .footer -->