{% load static %}


 <!-- footer -->
 <footer id="footer">
    <div class="container">
        <div class="row mb-3">
            <div class="col-5">
                <hr>
                <h2 class="text-uppercase">About Us</h2>

                <div class="font-monospace">
                     <p>
                         I am self-taught Developer, if you interested in what you saw, please feel free to contact me
                     </p>
                     
                     <address>
                        <i class="fa-solid fa-location-dot"></i>
                         Bali, Indonesia
                     </address>

                     <div class="phone">
                        <i class="fa-solid fa-mobile-screen"></i>
                         085 792 132 517
                     </div>

                     <div class="email">
                        <i class="fa-solid fa-envelope"></i></i> 
                         arijaya130@gmail.com
                     </div>

                     <div class="Profile Linked">
                        <i class="fa-brands fa-linkedin"></i>
                        Ari Jaya
                    </div>

                </div>
            </div>

            
            <div class="col-3">
                <hr>
                 <h2 class="text-uppercase text-center">skill</h2>

                 <div class="btn btn-center">
                     <div class="">
                         <p class="btn btn-light">Python</p>
                         <p class="btn btn-light">React.js</p>
                         <p class="btn btn-light">Javacript</p>
                         <p class="btn btn-light">SQL</p>
                         <p class="btn btn-light">HTML</p>
                         <p class="btn btn-light">CSS</p>
                         <p class="btn btn-light">GitHub</p>
                         <p class="btn btn-light">Bootstrap</p>
                     </div>
                 </div>
            </div>

            <div class="col-4">
                <hr>
                <h2 class="text-uppercase text-right">Resource</h2>

                <div class="text-right">
                    <div class="flex-item">
                        <div class="d-flex">
                        <p>
                            Looking for some project example in Django framework
                            <br>
                            <a href="https://www.djangoproject.com/" class="text-white">View</a>
                        </p>
                            <img src={% static 'images/django.png' %} class="object-fit px-1" alt="">  
                    </div>
                    

                    <br>

                    <div class="flex-item">
                         <div class="d-flex">
                            <p> 
                                Python documentation to guide using this programming language
                                <br>
                                <a href="https://www.python.org/" class="text-white">View</a> 
                            </p>
                            <img src={% static 'images/python.png' %}  class="object-fit px-1" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- .footer -->