{% load static %}


 <!-- footer -->
 <footer id="footer">
    <div class="container">
        <div class="row mb-3">
            <div class="col-5">
                <hr>
                <h2 class="text-uppercase">About Us</h2>

                <div class="font-monospace">
                     <p>
                         I am self-taught Developer, if you interested in what you saw, please feel free to contact me
                     </p>
                     
                     <address>
                         <i class="fas fa-map-marker-alt text-primary"></i> 
                         Bali, Indonesia
                     </address>

                     <div class="phone">
                         <i class="fas fa-mobile text-primary"></i> 
                         085 792 132 517
                     </div>

                     <div class="email">
                         <i class="fas fa-envelope text-primary"></i> 
                         arijaya130@gmail.com
                     </div>

                     <div class="Profile Linked">
                        <i class="fa fa-id-badge text-primary"></i> 
                        Ari Jaya
                    </div>

                </div>
            </div>

            
            <div class="col-3">
                <hr>
                 <h2 class="text-uppercase text-center">skill</h2>

                 <div class="btn btn-center">
                     <div class="">
                         <p class="btn btn-light">Python</p>
                         <p class="btn btn-light">React.js</p>
                         <p class="btn btn-light">Javacript</p>
                         <p class="btn btn-light">SQL</p>
                         <p class="btn btn-light">HTML</p>
                         <p class="btn btn-light">CSS</p>
                         <p class="btn btn-light">GitHub</p>
                         <p class="btn btn-light">Bootstrap</p>
                     </div>
                 </div>
            </div>

            <div class="col-4">
                <hr>
                <h2 class="text-uppercase text-right">Feature Post</h2>

                <div class="text-right">
                    <div class="flex-item">
                        <article class="article">
                            <div class="d-flex">
                                <a href="#">
                                    <a href="#">
                                         Looking for some feedback for this rejected track
                                         technology
                                        </a>
                                    <p>
                                             <span><i class="far fa-clock text-primary"></i> Clock Wed 02, 2021 </span>
                                        </p>    
                                    <img src={% static 'images/img9.jpg' %} class="object-fit px-1" alt="">
                                    <div class="px-1">
                                        
                                        
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="flex-item">
                     <article class="article">
                         <div class="d-flex">
                             <a href="#">
                                <a href="#">
                                      Looking for some feedback for this rejected track
                                      technology
                                     </a>
                                     <p>
                                          <span><i class="far fa-clock text-primary"></i> Clock Wed 02, 2021 </span>
                                     </p>
                                 <img src={% static 'images/img1.jpg' %} class="object-fit px-1" alt="">
                                 <div class="px-1">
                                     
                                 </div>
                             </a>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- .footer -->