{% load static %}

<!-- Header -->


<header id="header" class="shadow bg-light">
    <nav class="container navbar">
        <a href="https://github.com/Arijaya07/" class="nav-brand text-dark">
             My GitHub
         </a>

         <!-- toggle button -->
         <button class="toggle-button">
             <span><i class="fas fa-bars"></i></span>
         </button>

         <!-- collapse on toggle button click -->
         <div class="collapse">
             <ul class="navbar-nav">
                <a href="{% url 'main:home' %}" class="nav-link">Home</a>
                <a href="{% url 'main:portfolios' %}" class="nav-link">Portfolio</a>
                <a href="{% url 'main:blogs' %}" class="nav-link">Certificate</a>
                <a href="{% url 'main:contact' %}" class="nav-link">Contact</a>
             </ul>
         </div>
           
    </nav>
</header>