{% extends 'main/base.html' %}
{% load static %}

<!--    START SEO BLOCK -->
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!--    END SEO BLOCK -->

<!-- START CSS BLOCK -->
{% block extend_header %}{% endblock %}
<!-- END CSS BLOCK -->

<!-- START SCRIPT BLOCK -->
{% block extend_footer %}{% endblock %}
<!-- END SCRIPT BLOCK -->


{% block content %}

<section id="footer">
  <div class="container">
    <div class="row mb-3">

      <div class="col-3">
        <div class="bannerContent">
          <h1 class="xlTitle pb-md-3">See My Recent Certificate</h1>
        </div>
      </div>

      <div class="col-3">
        {% for obj in object_list %}
          <div class="card">
            <div class="overflow-img">
              <a href="{% url 'main:blog' slug=obj.slug %}">
                <hr>
                <img src="{{obj.image.url}}" alt="..." class="img-fluid">
                <h4 class="post-author text-center">View</h4>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>
{%endblock%} 
      