{% extends 'main/base.html' %}
{% load static %}


<!--    START SEO BLOCK -->
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!--    END SEO BLOCK -->

<!-- START CSS BLOCK -->
{% block extend_header %}{% endblock %}
<!-- END CSS BLOCK -->

<!-- START SCRIPT BLOCK -->
{% block extend_footer %}{% endblock %}
<!-- END SCRIPT BLOCK -->


<!-- START CONTENT -->


{% block content %}

<section class="container" id ="site-main">

    <article id="post">
        
        <div class="post-author text-center">
            <div class="author-avatar">
                <img src="{{me.userprofile.avatar.url}}" alt="{{me.first_name|title}}{{me.last_name|title}}avatar">
            </div>
        
        <div class="col-md">
            <div class="author-avatar">
                <h1 class="xlTitle pb-3">Hi, I'm {{me.first_name|title}} <br> a {{me.userprofile.title}} </br></h1>
                <p class="text-center">{{me.userprofile.bio}}</p>
        
        <div class="post-footer mb-3">
            <div class="post-tags d-flex flex-wrap justify-content-center">
                <div class="nav-link btn">
                    <a download href="{{me.userprofile.cv.url}}" class="btn btn-primary btn-lg">Download Resume</a>
                </div>
                <div class="nav-link btn">
                    <button type="button" class="btn btn-light btn-lg">Contact</button>
                </div>
            </div>
        </div>
    </article>
</section>


<section>
    <div class="innerPageBannerCol">
        <div class="container">
            <div class="row g-4 g-md-3 align-items-center">
                <div class="col-md-6">
                    <div class="bannerContent">
                        <h1 class="xlTitle pb-md-3">Contact us below</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="lightbg">
        <div class="container">
            <form id="containerForm" method="POST" action="/contact/">
                {% csrf_token %}
                <label for="name">Name</label>
                {{form.name}}

                <label for="email">Email</label>
                {{form.email}}

                <label for="subject">Message</label>
                {{form.message}}

                <input class='btn btnPrimary' type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>
{% endblock %}