{% extends 'main/base.html' %}
{% load static %}

<!--    START SEO BLOCK -->
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!--    END SEO BLOCK -->

<!-- START CSS BLOCK -->
{% block extend_header %}{% endblock %}
<!-- END CSS BLOCK -->

<!-- START SCRIPT BLOCK -->
{% block extend_footer %}{% endblock %}
<!-- END SCRIPT BLOCK -->


<!-- START CONTENT -->

{% block content %}
<!-- Post Content -->
<section class="container" id ="site-main">

        
        <div class="text-center">
            <div class="">
                <img src="{{me.userprofile.avatar.url}}" class="img-thumbnail" alt="{{me.first_name|title}}{{me.last_name|title}}avatar">
            </div>
            <br>
        <div class="col-md">
            <div class="">
                <h1 class="xlTitle pb-3">Hi, I'm {{me.first_name|title}} <br> a {{me.userprofile.title}} </br></h1>
                <p class="text-center">{{me.userprofile.bio}}</p>
        
   
            <div class="d-flex justify-content-center gap-2">
                <a download href="{{me.userprofile.cv.url}}" class="btn btn-primary btn-lg">Download Resume</a>
                <a href="{% url 'main:contact' %}" type="button" class="btn btn-light btn-lg">Contact</a>
            </div>
        </div>
    </article>
</section>
{% endblock %}