{% extends 'main/base.html' %}
{% load static %}

<!--    START SEO BLOCK -->
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!--    END SEO BLOCK -->

<!-- START CSS BLOCK -->
{% block extend_header %}{% endblock %}
<!-- END CSS BLOCK -->

<!-- START SCRIPT BLOCK -->
{% block extend_footer %}{% endblock %}
<!-- END SCRIPT BLOCK -->


<!-- START CONTENT -->

{% block content %}
<!-- Post Content -->
<section class="container" id ="site-main">

    <article id="post">
        
        <div class="post-author text-center">
            <div class="author-avatar">
                <img src="{{me.userprofile.avatar.url}}" alt="{{me.first_name|title}}{{me.last_name|title}}avatar">
            </div>
        
        <div class="col-md">
            <div class="author-avatar">
                <h1 class="xlTitle pb-3">Hi, I'm {{me.first_name|title}} <br> a {{me.userprofile.title}} </br></h1>
                <p class="text-center">{{me.userprofile.bio}}</p>
        
        <div class="post-footer mb-3">
            <div class="post-tags d-flex flex-wrap justify-content-center">
                <div class="nav-link btn">
                    <a download href="{{me.userprofile.cv.url}}" class="btn btn-primary btn-lg">Download Resume</a>
                </div>
                <div class="nav-link btn">
                    <button type="button" class="btn bg-light btn-lg">Contact</button>
                </div>
            </div>
        </div>
    </article>
</section>
{% endblock %}