{% extends 'main/base.html' %}
{% load static %}

<!--    START SEO BLOCK -->
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!--    END SEO BLOCK -->

<!-- START CSS BLOCK -->
{% block extend_header %}{% endblock %}
<!-- END CSS BLOCK -->

<!-- START SCRIPT BLOCK -->
{% block extend_footer %}{% endblock %}
<!-- END SCRIPT BLOCK -->


{% block content %}


<section id="footer">
  <div class="container">
    <div class="row mb-3">

      
      <div class="col-3">
        
      </div>
      
      <!-- Blog Post Section -->
      <div class="col-3">
        <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">See My Recent Projects Below</h1>
        </div>
        {% for obj in object_list %}
          <div class="card">
            <div class="overflow-img">
              <a href="{% url 'main:portfolio' slug=obj.slug %}" >
                <img src="{{obj.image.url}}" alt="..." class="img-fluid">
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-3">
        
      </div>
        
    </div>
  </div>
</section>
{% endblock%}    